html {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   text-align: center;
}

form {
   margin: 0 auto;
   display: grid;
   width: 80%;
   max-width: 800px;
   grid-template-columns: 1fr 2fr;
   column-gap: 10px;
   row-gap: 15px;
}

label.accept,
button {
   justify-self: start;
   grid-column-end: span 2;
}
